<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tudoos | Log In</title>
    <link rel="stylesheet" href="css/form.css">
    <link rel="favicon" href="../assets/img/favicon.ico" type="image/x-icon">
</head>
<body>
    <!-- Includes Header of the page -->
    <%- include ('include/_header') %>
    <br><br><br><br><br>
    <h1 style="margin-left: 5%;">Admin Panel</h1>
    <br><br>
    <!-- A button group for some operations like finding a user and creating a new user -->
    <div class="dash-btn_grp" style=" display: flex; align-items: center;">
        <a href="/create_user" class="all_data_options">Create a User</a>
        <a href="/dash_find_users" class="all_data_options">Find User</a>
        <a href="/admin_login" class="all_data_options" style="background-color: rgb(32, 31, 31); color: white;">Logout</a>
    </div>


    <div class="datas">
        <div class="user-item" style="background-color: rgb(32, 31, 31); color: white;">Current Registered Users</div>
        <!-- Shows the current users that are signed up using ejs -->
        <% data.forEach(user => { %>
            <div class="user-item">
                <div class="fields"><%= user.name %></div>
                <div class="fields"><%= user.email %></div>
                <div class="fields">
                    <!-- For Viewing user Data -->
                    <form action="/view_user<%= user.email %>" method="post" class="vud_form">
                        <button type="submit" class="vud_button_left">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                            </svg>
                        </button>
                    </form>
                </div>
                <div class="fields">
                    <!-- For Updating user data -->
                    <form action="/update_user<%= user._id %>" method="post" class="vud_form">
                        <button type="submit" class="vud_button_center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707l-4.096 4.096z"/>
                            </svg>
                        </button>
                    </form>
                </div>
                <div class="fields">
                    <!-- for deleting user data -->
                    <form action="/delete_user<%= user.email %>" method="post" class="vud_form">
                        <button type="submit" class="vud_button_right">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
        <% }); %>
    </div>


    </main>
</body>
</html>